---
import LinkInline from "./LinkInline.astro";
import RouterIcon from "./icons/Route.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
  icon?: any;
  logo: string;
}

const {
  title,
  company,
  description,
  link,
  date,
  icon: Icon,
  logo,
} = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4"
>
  <div class="relative pb-12 md:col-span-2">
    <div
      class="sticky top-0 flex flex-col items-center gap-4 p-4 bg-gray-200 dark:bg-gray-800 rounded-lg shadow-md"
    >
      <span class="text-blue-400 absolute -left-[42px] rounded-full text-5xl"
        >&bull;</span
      >
      <img
        src={logo}
        alt="Logo"
        class="w-32 h-32 p-1 bg-white/20 md:w-36 md:h-36 rounded-xl shadow-lg object-contain"
      />
      <div class="text-center">
        <h3 class="text-2xl font-bold text-blue-400">{title}</h3>
        <h4
          class="flex items-center justify-center gap-2 font-semibold text-lg text-gray-600 dark:text-white mt-1"
        >
          {company}<Icon class="w-5 h-5" />
        </h4>
        <time class="block text-sm text-gray-600/80 dark:text-white/80 mt-1"
          >{date}</time
        >
      </div>
    </div>
  </div>

  <div
    class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
  >
    {description}
    {
      link && (
        <LinkInline href={link}>
          Saber más <RouterIcon class="ml-4" />
        </LinkInline>
      )
    }
  </div>
</div>
