---
import TechBubble from "./TechBubble.astro";
import HtmlIcon from "./icons/Html.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import CssIcon from "./icons/Css.astro";
import ReactIcon from "./icons/React.astro";
import JavaIcon from "./icons/Java.astro";
import SpringbootIcon from "./icons/Springboot.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import NodeIcon from "./icons/Node.astro";
import PostgresqlIcon from "./icons/Postgresql.astro";
import MysqlIcon from "./icons/Mysql.astro";
import GitIcon from "./icons/Git.astro";
import GithubIcon from "./icons/GitHub.astro";
import n8nIcon from "./icons/n8n.astro";
import PhpIcon from "./icons/Php.astro";
import DockerIcon from "./icons/Docker.astro";
import Firestore from "./icons/Firestore.astro";
---

<div class="flex flex-wrap gap-5 md:gap-10 justify-center">
  <TechBubble Icon={HtmlIcon} />
  <TechBubble Icon={CssIcon} />
  <TechBubble Icon={JavascriptIcon} />
  <TechBubble Icon={BootstrapIcon} />
  <TechBubble Icon={ReactIcon} />
  <TechBubble Icon={NodeIcon} />
  <TechBubble Icon={PhpIcon} />
  <TechBubble Icon={JavaIcon} />
  <TechBubble Icon={SpringbootIcon} />
  <TechBubble Icon={PostgresqlIcon} />
  <TechBubble Icon={MysqlIcon} />
  <TechBubble Icon={Firestore} />
  <TechBubble Icon={GitIcon} />
  <TechBubble Icon={GithubIcon} />
  <TechBubble Icon={DockerIcon} />
  <TechBubble Icon={n8nIcon} />
</div>
