---
import TechBubble from "./TechBubble.astro";
import HtmlIcon from "./icons/Html.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import CssIcon from "./icons/Css.astro";
import ReactIcon from "./icons/React.astro";
import JavaIcon from "./icons/Java.astro";
import SpringbootIcon from "./icons/Springboot.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import NodeIcon from "./icons/Node.astro";
import PostgresqlIcon from "./icons/Postgresql.astro";
import MysqlIcon from "./icons/Mysql.astro";
import GitIcon from "./icons/Git.astro";
import GithubIcon from "./icons/GitHub.astro";
import N8nIcon from "./icons/n8n.astro";
import PhpIcon from "./icons/Php.astro";
import DockerIcon from "./icons/Docker.astro";
import FirestoreIcon from "./icons/Firestore.astro";
import PostmanIcon from "./icons/Postman.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import AstroBuildIcon from "./icons/AstroBuild.astro";
---

<div class="flex flex-wrap gap-5 md:gap-10 justify-center">
  <TechBubble
    Icon={HtmlIcon}
    label="HTML"
    link="https://developer.mozilla.org/es/docs/Web/HTML"
  />
  <TechBubble
    Icon={CssIcon}
    label="CSS"
    link="https://developer.mozilla.org/es/docs/Web/CSS"
  />
  <TechBubble
    Icon={JavascriptIcon}
    label="JavaScript"
    link="https://developer.mozilla.org/es/docs/Web/JavaScript"
  />
  <TechBubble Icon={AstroBuildIcon} label="Astro" link="https://astro.build/" />
  <TechBubble
    Icon={BootstrapIcon}
    label="BootStrap"
    link="https://getbootstrap.com/"
  />
  <TechBubble
    Icon={TailwindIcon}
    label="Tailwind"
    link="https://tailwindcss.com/"
  />
  <TechBubble Icon={ReactIcon} label="React" link="https://es.react.dev/" />
  <TechBubble Icon={NodeIcon} label="Node.js" link="https://nodejs.org/en" />
  <TechBubble Icon={PhpIcon} label="PHP" link="https://www.php.net/" />
  <TechBubble Icon={JavaIcon} label="Java" link="https://www.java.com/es/" />
  <TechBubble
    Icon={SpringbootIcon}
    label="Spring Boot"
    link="https://spring.io/projects/spring-boot"
  />
  <TechBubble
    Icon={PostgresqlIcon}
    label="PostgreSQL"
    link="https://www.postgresql.org/"
  />
  <TechBubble Icon={MysqlIcon} label="MySQL" link="https://www.mysql.com/" />
  <TechBubble
    Icon={FirestoreIcon}
    label="Firebase"
    link="https://firebase.google.com/"
  />
  <TechBubble Icon={GitIcon} label="Git" link="https://git-scm.com/" />
  <TechBubble Icon={GithubIcon} label="GitHub" link="https://github.com/" />
  <TechBubble Icon={DockerIcon} label="Docker" link="https://www.docker.com/" />
  <TechBubble
    Icon={PostmanIcon}
    label="Postman"
    link="https://www.postman.com/"
  />
  <TechBubble Icon={N8nIcon} label="n8n" link="https://n8n.io/" />
</div>
