---
import TechBubble from "./TechBubble.astro";
import HtmlIcon from "./icons/Html.astro";
import ReactIcon from "./icons/React.astro";
import JavaIcon from "./icons/Java.astro";
import SpringbootIcon from "./icons/Springboot.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import NodeIcon from "./icons/Node.astro";
import PostgresqlIcon from "./icons/Postgresql.astro";
import GitIcon from "./icons/Git.astro";
import GithubIcon from "./icons/GitHub.astro";
---

<div class="flex flex-wrap gap-5 md:gap-10 justify-center">
  <TechBubble Icon={HtmlIcon} />
  <TechBubble Icon={BootstrapIcon} />
  <TechBubble Icon={ReactIcon} />
  <TechBubble Icon={NodeIcon} />
  <TechBubble Icon={JavaIcon} />
  <TechBubble Icon={SpringbootIcon} />
  <TechBubble Icon={PostgresqlIcon} />
  <TechBubble Icon={GitIcon} />
  <TechBubble Icon={GithubIcon} />
</div>
